name: Build Shared

on:
    push:
    pull_request:

jobs:
    build:
        strategy:
            fail-fast: false
            matrix:
                os:
                    - ubuntu-latest
                    - windows-latest
                include:
                    - os: ubuntu-latest
                      os_name: Linux
                    - os: windows-latest
                      os_name: Windows

        runs-on: ${{ matrix.os }}
        env:
            INSTALL_DIR: ${{ github.workspace }}/install
        
        steps:
            - uses: actions/checkout@v4

            - name: Install system dependencies (Ubuntu)
              if: runner.os == 'Linux'
              run: |
                    sudo apt-get update
                    sudo apt-get install -y libglib2.0-0 libgl1 libgomp1
            
            - name: Setup Python
              uses: actions/setup-python@v4
              with:
                python-version: '3.10'

            - name: Install dependencies
              run: |
                    python -m pip install --upgrade pip
                    pip install -r requirements.txt
                    pip install -e .
            
            - name: Package application with PyInstaller
              run: |
                    pyinstaller main.spec
            
            - name: Upload artifact (Linux)
              uses: actions/upload-artifact@v3
              if: runner.os == 'Linux'
              with:
                    name: EpiGimp-Linux
                    path: dist/EpiGimp
            
            - name: Upload artifact (Windows)
              uses: actions/upload-artifact@v3
              if: runner.os == 'Windows'
              with:
                    name: EpiGimp-Windows
                    path: dist/EpiGimp.exe
            
            - name: Run tests
              if: false
              run: |
                    pytest tests/